page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
  gap: 10px;
}

page > * {
  max-width: 800px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  text-align: center;
}

fieldset {
  overflow: hidden;
  border-radius: 2vmin;
  background-color: whitesmoke;
}

fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  display: flex;
  line-height: 0;
  align-items: center;
  gap: 10px;
}

input {
  max-width: 100%;
  resize: vertical;
  background-color: white;
  font-size: 15px;
  padding-top: 10px;
  border-bottom: 2px solid #433bff;
}

button {
  width: fit-content;
  align-self: flex-end;
}

label {
  margin-bottom: 10px;
}

input + label {
  margin-top: 20px;
}
